@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth;
  line-height: 1.5;
  text-decoration: none;
}
h2 {
  font-size: 28px;
  line-height: 1.25;
}
h3 {
  font-size: 24px;
  font-weight: 400;
}
a {
  position: relative;
}
i:hover {
  opacity: 0.7;
}
figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
label {
  font-size: 24px;
}
body {
  background-image: url("./assets/wtmBg.png");
  background-color: dimgray;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 300ms ease;
  color: #f0f0f5;
}
header {
  height: 200px;
  width: 100%;
  /* max-width: 1200px; */
  padding: 16px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* margin: 0 auto; */
  /* border: 2px white solid; */
}

/* STRUCTURE, LAYOUT */

.no-cursor {
  cursor: not-allowed;
}
.glow {
  color: #f7c552;
}
.red {
  color: red;
}
.italic {
  font-style: italic;
  font-size: inherit;
}
.hidden {
  display: none;
}
section {
  padding: 0;
}

.outer {
  width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px green solid; */
}
.container {
  width: 100%;
  flex-grow: 1;
  /* border: 3px solid brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEAD AND NAV */

.navbar {
  width: 100%;
  max-width: 1000px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.logo__img {
  height: 50px;
  position: relative;
  top: 0;
  transition: all 0.1s ease;
}
.logo__img:active {
  top: 3px;
}
.homeLink__anchor {
  position: relative;
}
.homeLink__logo--popper {
  position: absolute;
  right: 0;
  top: 0px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
  color: #f0f0f5;
}
.homeLink__anchor:hover .homeLink__logo--popper {
  transform: translateX(75px);
  opacity: 1;
}

/* LINKS AND BUTTONS */

.navlinks {
  color: #d99425;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
}
.link__hover--effect {
  color: #f0f0f5;
  margin: 0 16px;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: all 0.1s ease;
}
.link__hover--effect:active {
  top: 3px;
}
.link__hover--effect::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #f7c552;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}
.link__hover--effect:hover:after {
  width: 100%;
  left: 0;
}
.btn__contact {
  border: 2px #f7c552 solid;
  background-color: #0b0c3f;
  color: #f7c552;
  border-radius: 25px;
  padding: 12px 40px;
  text-transform: uppercase;
  cursor: not-allowed;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-left: 16px;
  position: relative; 
  top: 0;
  box-shadow: 0px 5px 0px #393d3a; 
  transition: all 0.1s ease;
}
.btn__contact:hover {
  background-color: #373a7d;
  color: #f0f0f5;
  border: 2px #f0f0f5 solid;
}
.btn__contact:active {
  top: 3px; 
  box-shadow: 0px 2px 0px #373a7d;
}
.site__title {
  width: 90%;
  max-width: 700px;
}
.site__title--img {
  width: 100%;
}
#main {
  width: 1000px;
}
/* SEARCH */
#search {
  display: flex;
  justify-content: center;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 60%;
}
.search__wrapper {
  width: 100%;
  position: relative;
}
.search__input {
  color: #1c1c1c;
  width: 100%;
  border-radius: 50px;
  height: 60px;
  font-size: 20px;
  padding-left: 20px;
  border: 2px #f7c552 solid;
  outline: none;
}
.search__input::placeholder {
  color: #373a7d;
}

/* FONT AWESOME .FA */
.fa-magnifying-glass {
  display: flex;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 8px 20px 8px 8px;
  color: #373a7d;
  font-size: 40px;
  transition: all 0.2s ease;
}
.fa-magnifying-glass:hover {
  color: #4c4f91;
  scale: 0.8;
}
.fa-magnifying-glass:active {
  color: #f7c552;
}
.errCtr {
  margin-top: 24px;
  align-items: center;
}

/* DISPLAY */
#display__movies {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SORTING */

.results__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 16px;
}
.select__sort {
  margin-left: 32px;
}
.optSize {
  font-weight: 500;
}
#sort-select {
  border-radius: 50px;
  padding: 8px;
  font-size: 20px;
  font-weight: 500;
}

/* ShowMovies */

.buttons {
  display: flex;
  justify-content: center;
}

.grayed {
  opacity: 0.5;
  cursor: not-allowed;
}
.prevNext {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  margin: 16px;
  font-size: 18px;
  background-color: rgb(0, 0, 85);
  border: 1px solid #f0ce0c;
  color: #f0ce0c;
  position: relative;
  top: 0;
  box-shadow: 0px 5px 0px #393d3a;
  transition: all 0.1s ease;
}
.prevNext:hover {
  background-color: #373a7d;
  color: #f0f0f5;
  border: 2px #f7c552 solid;
}
.prevNext:active {
  top: 3px; 
  box-shadow: 0px 2px 0px #ebe6eb; 
}
.results {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.movie {
  background-color: rgb(0, 0, 85);
  width: calc(100% / 3);
  max-width: 300px;
  height: 450px;
  margin: 4px;
  padding: 24px;
  border: 2px rgb(240, 206, 12) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.poster__wrapper {
  display: flex;
  position: relative;
  max-width: 300px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: blueviolet;
}
.coverPoster {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
}
.movie:hover .coverPoster {
  opacity: 0.7;
}
.movie:hover .movie__description {
  opacity: 1;
  transform: translateY(-50%);
}
.movie:hover .poster {
  filter: blur(2px);
  transform: scale(1.07);
}
.coverPoster img.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.poster {
  width: 100%;
  position: relative;
  opacity: 1;
  transition: all 200ms ease;
}
.movie__description {
  position: absolute;
  background-color: rgba(0, 0, 85, 0.1);
  left: 0;
  top: 50%;
  transform: translateY(-100%);
  width: 100%;
  max-width: 250px;
  height: 100%;
  opacity: 0;
  color: white;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  transition: transform 450ms, opacity 500ms ease;
}
.movie__title {
  font-size: 28px;
  margin: 12px;
  text-align: center;
  position: relative;
}
.movie__details {
  margin: 8px;
  text-align: center;
  font-size: 20px;
}

/* FEATURE */

.btn__toResults {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.feature__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.btn__toHome {
  color: #f0f0f5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px #f0f0f5 solid;
}
.feature__wrapper {
  max-width: 1000px;
  background-color: rgb(0, 0, 85);
  border: 2px solid #f7c552;
  border-radius: 50px;
  overflow: hidden;
  margin: 32px;
  display: flex;
  padding: 8px;
}
.feature__left {
  width: 40%;
  padding: 8px;
  display: flex;
  flex: 0 0 40%;
}
.feature__poster {
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
  border: 1px blueviolet;
}

/* Verbiage Column in Feature */

.feature__right {
  display: flex;
  font-size: 20px;
  margin-left: 8px;
  padding: 8px;
}
.feature__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.split {
  display: flex;
  font-size: 20px;
  font-weight: bold;
}
.splitLeft {
  margin-right: 32px;
}
.feature__plot {
  font-style: italic;
  font-size: 20px;
}

/* FOOTER */

footer {
  width: 100%;
  max-width: 800px;
  height: 150px;
  color: #f0f0f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
}
.footer__logo {
  height: 75px;
  position: relative;
  top: 0;
}
.footer__logo:active {
  top: 3px;
}
.footer__anchor {
  position: relative;
}
.footer__logo--popper {
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: 700;
  opacity: 0;
  color: #f0f0f5;
}
.footer__anchor:hover .footer__logo--popper {
  transform: translateX(40px);
  opacity: 1;
}
.footer__copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}
.footer__social {
  font-size: 30px;
}
.fa-brands {
  position: relative;
  top: 0;
}
.footer__social .fa-brands {
  margin: 0 8px;
  color: #f7c552;
  cursor: pointer;
}
.footer__social .fa-brands:active {
  color: #373a7d;
  transform: scale(0.85);
}


/* LOADING */

.skeleton {
  background-color: gray;
  color: transparent;
  border-radius: 4px;
  min-height: 1em;
  display: inline-block;
  min-width: 100px;
}

.feature__img.skeleton {
  width: 300px;
  height: 450px;
  background-color: gray;
  border-radius: 8px;
}
